<div class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-4 visible-md-block visible-lg-block visible-sm-block">
                <img src="{{ site.favicon }}" title="Mark Kevin" alt="My Picture">
                <h4>{{ site.author.name }}</h4>
                <p><i class=" fa fa-terminal fa-fw"></i>{{ site.author.title }}</p>
                <p><i class=" fa fa-map-marker fa-fw"></i>{{ site.author.address }}</p>
                <div class="clearfix"></div>
            </div>

            <div class="col-sm-4 visible-md-block visible-lg-block visible-sm-block">
                <p><i class="fa fa-paper-plane fa-fw"></i> {{ site.author.email }} </p>
                <p><i class="fa fa-github fa-fw"></i><a href="//github.com/{{ site.author.github }}" target="_blank">  @{{ site.author.github }} </a></p>
                <p><i class=" fa fa-lock fa-fw"></i>{{ site.author.gpg }}</p>
                <p><i class="fa fa-phone fa-fw"></i> {{ site.author.cp }} </p>
            </div>
        </div>
    </div>
</div>
